/*Estilos generales*/
h1, h5, .nav-link{
    font-family: 'Quicksand', sans-serif;
}

p, .btn{
    font-family: 'Mulish';
    font-size: large;
}


/*Estilos del slider*/
.slider {
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 60s linear infinite ;
    -webkit-animation: scroll 60s linear infinite;
    width: 100%;
}

.slider .slide {
    padding-right: 100px;
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px*7));
        transform: translateX(calc(-200px*7));
    }
}

.footer-items {
    display: flex;
    align-items: center;
    justify-content: center;    
    list-style: none;
  }

  .nav-item {
    list-style: none;
    margin-right: 10px; /* Ajusta el espaciado entre los elementos según sea necesario */
  }

  .nav-link img {
    width: 29px; /* Ajusta el tamaño de las imágenes según sea necesario */
  }

  /*Estilos para el botón de wssp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #FFF;
  background-color:#1ab152;
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-float{
	margin-top:16px;
}