.slider {
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 60s linear infinite ;
    -webkit-animation: scroll 60s linear infinite;
    width: 100%;
}

.slider .slide {
    padding-right: 100px;
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px*7));
        transform: translateX(calc(-200px*7));
    }
}