@font-face {
  font-family: "ruberoid-semibold";
  src: url(/Ruberoid/Ruberoid-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "ruberoid-bold";
  src: url(/Ruberoid/Ruberoid-Bold.otf) format("opentype");
}

@font-face {
  font-family: "ruberoid-medium";
  src: url(/Ruberoid/Ruberoid-Medium.otf) format("opentype");
}

.header-container {
  background-color: white;
  .header {
    width: 1440px;
    display: flex;
    padding: 14px 45px 11px;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

    .header-title-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 47px;

      .header-title {
        display: none;
        color: #2a1d68;
        font-family: "Plus Jakarta Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 43px; /* 307.143% */
      }
    }
  }

  .header-buttons {
    display: flex;
    gap: 40px;
    align-items: center;

    .header-title {
      color: var(--Morado-4, #2a1d68);
      font-family: "Plus Jakarta Sans";
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.main-container {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(180deg, #2a1d68 44.8%, #7967d0 100%); */
  /* background-image: url(/Imagenes//backgrounds/first-view-bg.webp); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  position: relative;
}

.main-container-video {
  position: absolute;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  position: absolute;

  video {
    width: 100%;
  }
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 27px;
  margin-inline: auto;
}

.aecode-logo {
  height: 25px;
}

.button {
  display: inline-flex;
  height: 39px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 42.5px;
  background: var(--Morado-3, #381187);
  box-shadow: 2px 7px 8.5px 0px rgba(56, 17, 135, 0.5);
  color: var(--Blanco, #fff);
  font-family: "ruberoid-semibold";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 200% */
  border: none;
  text-decoration: none;
}

.shaman-button {
  display: flex;
  border: 1.2px solid #916dbf;
  padding: 2px 0 2px;
  gap: 17px;
  z-index: 0;

  .svg-container {
    width: 34px;
    height: 34px;
    margin-inline-start: 2px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5ccde;
    border: 1px solid white;
    transition: transform 0.8s ease;

    .shaman-button-img {
      display: none;
    }
  }

  .shaman-button-text {
    margin-inline-end: 28px;
    color: white;
    font-family: "ruberoid-semibold";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: transform 0.8s ease;
    z-index: -1;
  }

  &:hover {
    border: 1.2px solid #eeedff;
    background: var(--Gris-2, #eef3f8);
    box-shadow: 0px 4px 4px 0px rgba(56, 17, 135, 0.4),
      0px -2px 4.7px 0px rgba(0, 0, 0, 0.25) inset,
      0px 7px 12px 2px rgba(0, 0, 0, 0.25) inset;
  }

  &:hover .svg-container {
    transform: translateX(120px);
    background-color: #381187;
    background: linear-gradient(to bottom, rgb(121, 99, 167), rgb(56, 17, 135));

    .fire-svg {
      display: none;
    }

    .shaman-button-img {
      width: 28px;
      height: 28px;
      display: block;
    }
  }

  &:hover .shaman-button-text {
    transform: translateX(-25px);
    color: #381187;
  }
}

.coming-soon-container {
  width: 726px;
  height: auto;
  padding: 23px 27px 32px 28px;
  margin-inline: auto;
  text-align: center;
  border-radius: 15px;
  background: white;
  box-shadow: -12px 1px 40.7px 1px rgba(0, 0, 0, 0.25);

  .coming-soon-media {
    position: relative;

    .count-down-container {
      width: 100%;
      height: 101px;
      position: absolute;
      bottom: 0;

      .count-down-content {
        width: 284px;
        height: 76px;
        padding: 10px 17px;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        background: var(--Blanco, #fff);
        color: #381187;
        font-family: "ruberoid-semibold";

        .count-down-item {
          display: flex;
          flex-direction: column;
        }

        .count-down-number {
          font-size: 25px;
        }

        .count-down-text {
          font-size: 8px;
        }

        img {
          width: 1px;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      margin-inline: auto;
    }
  }

  .coming-soon-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-inline: auto;
  }

  h1 {
    margin-top: 24px;
    color: #000;
    text-align: center;
    font-family: "ruberoid-semibold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px; /* 95.833% */
  }

  h3 {
    margin: 24px 0px 10px 0px;
    color: #381187;
    text-align: center;
    font-family: "ruberoid-medium";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 65.714% */
  }
}

.social-media-container-mobile {
  display: none;
}

.footer-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-media-container {
    width: 176px;
    height: 43px;
    display: flex;
    flex-direction: row;
    padding: 6.5px 22.5px;
    gap: 20px;
    background: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);

    .social-media-logo {
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }
  }

  .first,
  .third {
    border-radius: 0px 6px 6px 0px;

    .whatsapp {
      background: linear-gradient(336deg, #138f49 11.4%, #82fbb7 96.83%);
    }

    .instagram {
      background: linear-gradient(
        180deg,
        #fca759 -3.12%,
        #e82d56 17.47%,
        #a22db4 77.07%,
        #643dce 105.24%
      );
    }

    .linkedin {
      background: linear-gradient(336deg, #069 11.4%, #058ccf 96.83%);
    }
  }

  .second,
  .fourth {
    border-radius: 6px 0px 0px 6px;

    .facebook {
      background: linear-gradient(336deg, #30467d 11.4%, #3b579d 96.83%);
    }

    .youtube {
      background: linear-gradient(336deg, #db0505 11.4%, #f00 96.83%);
    }

    .tiktok {
      background: linear-gradient(141deg, #000 0.9%, #323232 99%);
    }
  }
}

.sendbar {
  width: 726px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 2px 13.5px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;

  .sendbar-text {
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;

    & img {
      margin-inline-start: 10px;
    }

    & span {
      color: #000;
      text-align: center;
      font-family: "ruberoid-medium";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px; /* 115% */
    }
  }

  .send-icon-container {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    cursor: pointer;
    margin-inline-end: 6px;
    background-color: #585ef3;
    filter: drop-shadow(0px 4px 4px rgba(24, 27, 103, 0.44));
    display: flex; /* Habilita el flexbox en el contenedor */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
}

@media (max-width: 1200px) {
  .main-container {
    height: 100%;
    padding: 59px 0 11px;
  }

  .background-video {
    height: 820px;
  }

  .header-container {
    width: 100%;
    padding: 27px 19px 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 27px;

    .header {
      width: auto;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 26px;
      justify-content: space-between;
      align-items: center;
      margin-inline: auto;

      .header-title-container {
        height: 18px;
        .header-title {
          display: block;
          font-size: 14px;
        }
      }

      .aecode-logo {
        height: 18px;
      }
    }

    .header-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      span {
        font-size: 14px;
        display: none;
      }

      a {
        width: 161px;
        font-size: 12px;
      }

      a:last-child {
        width: 161px;
        color: transparent; /* Oculta el texto del último enlace */
        position: relative;

        &::after {
          color: white;
          content: "PROGRAMAS";
          position: absolute;
        }
      }
    }
  }

  .aecode-logo {
    width: 127px;
  }

  .content-container {
    display: flex;
    height: 520px;
    flex-direction: column;

    .coming-soon-container {
      width: 358px;
      height: auto;
      margin-inline: auto;
      padding: 11px 11px 15px;

      h1 {
        font-size: 20px;
        margin-top: 10px;
      }

      h3 {
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 20px;
      }
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    gap: 26px;

    .social-media-container {
      display: none;
    }
  }

  .sendbar {
    width: 358px;
    height: 40px;
    margin-inline: auto;
    align-items: center;

    .sendbar-text {
      img {
        width: 35px;
      }
      span {
        font-size: 15px;
      }
    }

    .send-icon-container {
      width: 36px;
      height: 36px;
      display: flex;
    }
  }

  .social-media-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .social-media-container {
      display: flex;
    }
  }
}
